body,html{
  padding: 0;
  margin: 0
}

#app{
  display: flex;
  justify-content: space-between;
  padding:16px;
}
.list{
  min-width: 600px;
  width: 100%;
  flex: auto
}
.form{
  width: 500px;
}

.el-input{
  width: 100%;
  min-width: 300px;
}
.item{
  padding-left: 90px;
  position: relative;
  margin-bottom: 15px;
}
.item::before{
  content: attr(name);
  width: 80px;
  position: absolute;
  left: 0;
  line-height: 40px;
  top: 0;
  text-align: right;
}
