<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible"
    content="ie=edge">
  <link rel="stylesheet"
    href="/frent/static/ele.css">
  <link rel="stylesheet"
    href="/frent/static/style.css">
  <script src="/frent/static/vue.js"></script>
  <script src="/frent/static/ele.js"></script>
  <script src="/frent/static/axios.js"></script>
  <script src="/frent/static/axs.js"></script>
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <div class="list">
      <el-table :data='list'>
        <el-table-column type="index" width="50"></el-table-column>
        <el-table-column prop='name' label='api名称'></el-table-column>
        <el-table-column prop='name' label='参数'>
            <template slot-scope="props">
              <span v-for = '(i, key) in props.row.params' :key='key'>{{i.type}}</span>
            </template>
        </el-table-column>
        <el-table-column prop='name' label='返回值'>
            <template slot-scope="props">
                <span v-for = '(i, key) in props.row.return' :key='key'>{{i.type}}</span>
              </template>
        </el-table-column>
        <el-table-column prop='desc' label='描述'></el-table-column>
        <el-table-column prop='path' label='路径'></el-table-column>
        <el-table-column type='expand'>
            <template slot-scope="scope">
              <pre>{{scope.row.detail}}</pre>
            </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="form">
      <div class="item" name='*名称:'><el-input v-model='item.name'></el-input></div>
      <div class="item" name='参数:'>
          <div v-for = '(i, k) in item.params' :key='k' style="margin-bottom: 8px;">
          <el-input v-model='i.type'>
              <el-checkbox v-model='i.isNeed' slot="prepend" style="margin-right: 6px;">必须?</el-checkbox>
                <el-button slot="prepend" >类型</el-button>
                <el-button slot="append" v-if='k !== 0' @click='item.params.splice(k, 1)'>删除</el-button>
          </el-input>
        </div>
          <el-button style="width: 100%" @click='item.params.push({type: "", isNeed:false})'>+</el-button>
      </div>
      <div class="item" name='返回值:'>
          <div v-for = '(i, k) in item.return' :key='k' style="margin-bottom: 8px;">
            <el-input v-model='i.type'>
              <el-checkbox v-model='i.isNeed' slot="prepend" style="margin-right: 6px;">必须?</el-checkbox>
                <el-button slot="prepend" >类型</el-button>
                <el-button slot="append" v-if='k !== 0' @click='item.return.splice(k, 1)'>删除</el-button>
            </el-input>
          </div>
          <el-button style="width: 100%" @click='item.return.push({type: "", isNeed:false})'>+</el-button>
      </div>
      <div class="item" name='*描述:'><el-input type='textarea' :autosize="{ minRows: 6, maxRows: 10}" v-model='item.desc'></el-input></div>
      <div class="item" name='*路径'><el-input v-model='item.path'></el-input></div>
      <div class="item" name='详情:'><el-input type='textarea' :autosize="{ minRows: 6, maxRows: 10}" v-model='item.detail'></el-input></div>
      <div class="item">
          <el-button-group>
              <el-button style='width: 150px;'
                @click='add'>添加</el-button>
              <el-button style='width: 150px;' @click='clear'>清空</el-button>
            </el-button-group>
      </div>
    </div>
  </div>
</body>
<script>

  const dataTemplate = {
    name: '',
    params: [{type: '', isNeed: true}],
    return: [{type: '', isNeed: true}],
    desc: '',
    path: '',
    detail: ''
  }
  function copy(obj) {
    return JSON.parse(JSON.stringify(obj))
  }

  new Vue({
    el: '#app',
    data() {
      return {
        item: copy(dataTemplate),
        list: []
      }
    },
    methods: {
      getList() {
        getList().then(res => {
          console.log(res)
        })
      },
      clear() {
        this.item = copy(dataTemplate)
      },
      add() {
        if (this.item.name.trim() === "" || this.item.desc.trim() === "" || this.item.path.trim() === "") {
          this.$message({ type: 'error', message: '请输入必填项' })
        } else {
          this.list.push(this.item)
        }
      }
    },
    mounted() {
      console.log(copy(dataTemplate))
    }
  })
</script>

</html>
